<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<title>웹툰 관리자 페이지</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
	<link href="css/styles.css" rel="stylesheet"/>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>


<!-- Body 시작, 상단 NavBar 부분 -->
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar 우상단 로고 -->
		<a class="navbar-brand ps-3" href="/admin"><img src="/assets/img/Naver_Logotype.svg" style="height: 35px"/></a>
		<!-- Sidebar Toggle -->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
		<!-- Navbar 검색 -->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
				<button class="btn btn-success" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
			</div>
		</form>
		<!-- Navbar 검색창 옆의 사람 로고 부분 -->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#">설정</a></li>
					<li><a class="dropdown-item" href="#">활동내역</a></li>
					<li>
						<hr class="dropdown-divider"/>
					</li>
					<li><a class="dropdown-item" href="#">로그아웃</a></li>
				</ul>
			</li>
		</ul>
	</nav>


	<!-- 왼쪽 사이드 NavBar 영역 -->
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">홈화면</div>
						<!-- 첫번째 아이템 -->
						<a class="nav-link" href="/admin">
							<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
							대시보드
						</a>
						<!-- 첫번째 아이템 -->
						{{#sessionUser}}
							<!-- 세션이 있을때(로그인) 나타낼 내용 -->
							<a class="nav-link" href="/logout">
								<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
								로그아웃
							</a>
						{{/sessionUser}}
						{{^sessionUser}}
							<!-- 세션이 없을때(비로그인) 나타낼 내용-->
							<a class="nav-link" href="/adminLoginForm">
								<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
								로그인
							</a>
							<a class="nav-link" href="/adminJoinForm">
								<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
								관리자 계정 생성
							</a>
						{{/sessionUser}}
						<!-- 두번째 아이템 -->
						<div class="sb-sidenav-menu-heading">인터페이스</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
							레이아웃
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<!-- 2-1 아이템 -->
								<a class="nav-link" href="layout-static.html">Static Navigation</a>
								<!-- 2-2 아이템 -->
								<a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
							</nav>
						</div>
						<!-- 세번째 아이템 -->
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
							<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
							페이지
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
								<!-- 3-1 아이템 -->
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
									Authentication
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<!-- 3-1-1 아이템 -->
										<a class="nav-link" href="adminLoginForm">Login</a>
										<!-- 3-1-2 아이템 -->
										<a class="nav-link" href="adminJoinForm">Register</a>
									</nav>
								</div>
								<!-- 3-2 아이템 -->
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
									Error
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<!-- 3-2-1 아이템 -->
										<a class="nav-link" href="/error401">401 Page</a>
										<!-- 3-2-2 아이템 -->
										<a class="nav-link" href="/error404">404 Page</a>
										<!-- 3-2-3 아이템 -->
										<a class="nav-link" href="/error500">500 Page</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">애드온</div>
						<a class="nav-link" href="charts.html">
							<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
							차트
						</a>
						<a class="nav-link" href="tables.html">
							<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
							테이블
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Logged in as:</div>
					관리자 ssar
				</div>
			</nav>
		</div>