<!-- 세션O (로그인) -->
{{#sessionUser}}


	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>웹툰 관리자 페이지</title>
		<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
		<link href="css/styles.css" rel="stylesheet"/>
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
		<style>
			@font-face {
				font-family: 'Giants-Bold';
				src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
				font-weight: 600;
				font-style: normal;
			}

			div {
				font-family: Giants-Bold;
			}
		</style>
	</head>


	<!-- Body 시작, 상단 NavBar 부분 -->
	<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar 우상단 로고 -->
			<a class="navbar-brand ps-3" href="/admin"><img src="/assets/img/Naver_Logotype.svg" style="height: 35px"/></a>
			<!-- Sidebar Toggle -->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
			<!-- Navbar 검색 -->
			<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
					<button class="btn btn-success" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
				</div>
			</form>
			<!-- Navbar 검색창 옆의 사람 로고 부분 -->
			<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

						<li><a class="dropdown-item" href="#">설정</a></li>
						<li><a class="dropdown-item" href="#">활동내역</a></li>
						<li>
							<hr class="dropdown-divider"/>
						</li>
						<li><a class="dropdown-item" href="/logout">로그아웃</a></li>


					</ul>
				</li>
			</ul>
		</nav>



		<!-- 왼쪽 사이드 NavBar 영역 -->
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Webtoon</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseWebtoon" aria-expanded="false" aria-controls="collapseWebtoon">
							<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
							웹툰
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseWebtoon" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

								<!-- 작가X (관리자)  -->
								{{^sessionUser.isAuthor}}
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
										웹툰 관리
										<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
									</a>
									<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<!-- 아이템 -->
											<a class="nav-link" href="/webtoonForm">웹툰 등록</a>
											<!-- 아이템 -->
											<a class="nav-link" href="/webtoonUpdateForm">웹툰 수정</a>

										</nav>
									</div>
								{{/sessionUser.isAuthor}}



								<!-- 작가, 관리자 공통영역 -->
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
									에피소드 관리
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<!-- 아이템 -->
										<a class="nav-link" href="/episodeForm">에피소드 등록</a>
										<!-- 아이템 -->
										<!-- <a class="nav-link" href="#">에피소드 수정</a> -->

									</nav>
								</div>
							</nav>
						</div>


						<div class="sb-sidenav-menu-heading">Author</div>
						<a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAuthor" aria-expanded="false" aria-controls="collapseAuthor">
							<div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
							작가
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
					<div class="collapse" id="collapseAuthor" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav">
						<!-- 아이템 -->
						<a class="nav-link" href="/authorBoardForm">작가의 글 등록</a>
						<!-- 아이템 -->
						<a class="nav-link" href="/authorUpdateForm">작가 소개 수정</a>

						<!-- 작가X (관리자) -->
						{{^sessionUser.isAuthor}}
							<!-- 2-1 아이템 -->
							<a class="nav-link" href="/authorForm">작가 추가</a>
							<!-- 2-2 아이템 -->
							<!-- <a class="nav-link" href="#">작가 삭제</a> -->


						</nav>
						</div>


							<div class="sb-sidenav-menu-heading">Advertising</div>
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAd" aria-expanded="false" aria-controls="collapseAd">
								<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
								광고
								<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
							<div class="collapse" id="collapseAd" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
										메인광고 관리
										<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
									</a>
									<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<!-- 아이템 -->
											<a class="nav-link" href="/advertisingMainForm">메인광고 등록</a>
											<!-- 아이템 -->
											<a class="nav-link" href="#">메인광고 수정</a>

										</nav>
									</div>
									<!-- 3-2 아이템 -->
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
										서브광고 관리
										<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
									</a>
									<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<!-- 아이템 -->
											<a class="nav-link" href="/advertisingSubForm">서브광고 등록</a>
											<!-- 아이템 -->
											<a class="nav-link" href="#">서브광고 수정</a>
										</nav>
									</div>
								</nav>
							</div>
						{{/sessionUser.isAuthor}}
					</div>
				</div>


				<div class="sb-sidenav-footer">
					<div class="small">Logged in as:</div>
					{{sessionUser.getUsername}}({{sessionUser.getUserTypeEnum}})<br>
					{{sessionUser.email}}
				</div>
			</nav>
		</div>
{{/sessionUser}}


	<!-- 세션X (비로그인) -->
{{^sessionUser}}
		<h1> 비로그인 상태입니다. 로그인 해주세요.</h1>
		<li><a class="dropdown-item" href="/adminLoginForm">로그인</a></li>
{{/sessionUser}}