{{#sessionUser}}

	{{> layout/header}}
	<!--  -->
	<!--  -->
	<!--  -->
	<!--  -->
	<!--  -->
	<!--  -->
	<!-- 본문 Body 영역 -->
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">{{sessionUser.getUserTypeEnum}} 대시보드</li>
				</ol>
				<!--  -->
				<!--  -->
				<!--  -->
				<!-- 작가, 관리자 공통영역 -->
				<div class="row">
					<div class="col-xl-2 col-md-6">
						<div class="card bg-success text-white mb-4">
							<div class="card-body">에피소드 등록</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="/episodeForm">View Details</a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>


					<!-- 작가일때 -->
					{{#sessionUser.isAuthor}}
						<!-- <div class="col-xl-2 col-md-6"> -->
						<!-- 	<div class="card bg-danger text-white mb-4"> -->
						<!-- 		<div class="card-body">에피소드 수정</div> -->
						<!-- 		<div class="card-footer d-flex align-items-center justify-content-between"> -->
						<!-- 			<a class="small text-white stretched-link" href="/advertisingMainForm">View Details</a> -->
						<!-- 			<div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
						<!-- 		</div> -->
						<!-- 	</div> -->
						<!-- </div> -->
						<div class="col-xl-2 col-md-6">
							<div class="card bg-primary text-white mb-4">
								<div class="card-body">작가의 글 등록</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="/authorBoardForm">View Details</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-md-6">
							<div class="card bg-warning text-white mb-4">
								<div class="card-body">작가 정보 수정</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="/authorUpdateForm">View Details</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
					{{/sessionUser.isAuthor}}


					<!-- 작가X (관리자) 일때 -->
					{{^sessionUser.isAuthor}}
						<div class="col-xl-2 col-md-6">
							<div class="card bg-primary text-white mb-4">
								<div class="card-body">작가 등록</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="authorForm">View Details</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-md-6">
							<div class="card bg-warning text-white mb-4">
								<div class="card-body">웹툰 등록</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="/webtoonForm">View Details</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>

						<div class="col-xl-2 col-md-6">
							<div class="card bg-danger text-white mb-4">
								<div class="card-body">메인 광고 등록</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="/advertisingMainForm">View Details</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-md-6">
							<div class="card bg-success text-white mb-4">
								<div class="card-body">서브 광고 등록</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link" href="/advertisingSubForm">View Details</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
					{{/sessionUser.isAuthor}}
				</div>


				<!--  -->
				<!--  -->
				<!-- DB 예제 -->
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table me-1"></i>
						웹툰 or 작가 테이블
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>Id</th>
									<th>사진</th>
									<th>타이틀</th>
									<th>작가</th>
									<th>평균 별점</th>
									<th>나이</th>
									<th>요일</th>
									<th>기타</th>
									<th>최근 등록일</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Id</th>
									<th>사진</th>
									<th>타이틀</th>
									<th>작가</th>
									<th>평균 별점</th>
									<th>나이</th>
									<th>요일</th>
									<th>기타</th>
									<th>최근 등록일</th>
								</tr>
							</tfoot>
							<tbody>
								
							{{#responseDTO}}

								<tr>
									<td><a href="/detailForm/{{id}}">{{id}}</a></td>
									<td><img src="/image?route=WebtoonThumbnail/{{image}}" style="max-width: 60px; height: auto;"/></td>
									<td>{{title}}</td>
									<td>{{#authorDTOList}} <div><a href="/authorForm/{{id}}">{{id}}</a> {{authorNickname}}</div> {{/authorDTOList}}</td>
									<td><div class="rating-input">{{starScore}}/{{starCount}}</div></td>
									<td>{{ageLimit}}</td>
									<td>{{webtoonWeekDayEnum}}</td>
									<td>{{webtoonSpeciallyEnum}}</td>
									<td>{{episodeUpdatedAt}}</td>
								</tr>
								<!-- <tr>
									<td>Garrett Winters</td>
									<td>Accountant</td>
									<td>Tokyo</td>
									<td>63</td>
									<td>2011/07/25</td>
									<td>$170,750</td>
								</tr> -->

							{{/responseDTO}}

							</tbody>
						</table>
					</div>
				</div>




				
			</div>
		</main>



{{/sessionUser}}


	<!-- 비로그인(세션X) -->
{{^sessionUser}}
		<h1>비정상적인 접근입니다.</h1>
{{/sessionUser}}


{{> layout/footer}}



<script>
	// 모든 클래스가 rating-input인 요소들을 선택
	var ratingInputs = document.querySelectorAll('.rating-input');
  
	// 각 요소에 대해 처리
	ratingInputs.forEach(function(ratingInput) {
	  // 현재 요소의 텍스트 가져오기
	  var text = ratingInput.innerText;
  
	  // "/"로 문자열을 나누기
	  var parts = text.split("/");
  
	  // 나눈 결과를 숫자로 변환
	  var numerator = parseFloat(parts[0]);
	  var denominator = parseFloat(parts[1]);
	  
	  if (denominator === 0) {
		denominator = 1;
	  }
  
	  // 나눈 결과를 계산하여 소수점 두 자리까지 표시
	  var result = (numerator / denominator).toFixed(2);
  
	  // 결과를 현재 요소에 설정
	  ratingInput.innerText = result;
	});
  </script>