<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- PortOne SDK -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>
      var IMP = window.IMP;
      IMP.init("imp65088447");
 
      function requestPay(){
        IMP.request_pay(
          {
            //페이 회사
            pg: "kakaopay",
            pay_method: "card",
            //주문 번호
            merchant_uid: "57008833-330030",
            //상품명
            name: "당근 10kg",
            //가격(숫자)
            amount: 1004,
            //주문자 이메일
            buyer_email: "Iamport@chai.finance",
            //주문자명
            buyer_name: "포트원 기술지원팀",
            //주문자 연락처
            buyer_tel: "010-1234-5678",
            //주문자 주소 
            buyer_addr: "서울특별시 강남구 삼성동",
            //주문자 우편번호 
            buyer_postcode: "123-456",
            //m_redirect_url string 결제 완료 후 이동 될 주소
            //결제 성공시 결제 상태:  paid / failed imp_success: true/false
            //결제 회사 서버에서 어디로 
          },
          async function (rsp) {
            console.log("응답",rsp);
            // callback
            //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
            if (rsp.success) {   
              let requestBody = {
                imp_uid: rsp.imp_uid,
                merchant_uid: rsp.merchant_uid
              };
              console.log("requestBody", requestBody);

              let response = await fetch("/api/payment/result",{
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(requestBody)
              });

              let body = await response.json();

              console.log("body",body);
          }else {
              alert(`결제에 실패하였습니다. 에러 내용: ${rsp.error_msg}`);
          }
        }
        );
      }
    </script>

    <meta charset="UTF-8" />
    <title>Sample Payment</title>
  </head>

  <body>
    <button onclick="requestPay()">결제하기</button>
    <!-- 결제하기 버튼 생성 -->
  </body>
</html>
